<section class="content-block container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="intro-quarter text-left">
        <h3 class="separate-red">
          <span class="fa-stack fa-2x color-red">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x"></i>
          </span>
          Mon compte # EDIT<%= resource_name.to_s.humanize %>
        </h3>
        <p>Trop cool tranquille les leçon qui roks du poney</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
