<%= form_with(model: lesson, local: true) do |form| %>

  <% if lesson.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:
      <ul>
        <% lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h5>Choose your teacher</h5>

    <%= form.collection_radio_buttons(:teacher_id, @available_teachers, :id, :email) do |button| %>
      <div class="col-xs-6 col-md-4 col-lg-3 select-teacher form-check-inline">
        <%= button.label do %>
          <%= button.radio_button +
              image_tag('default_avatar.jpg', class: 'img-thumbnail') +
              content_tag( 'p', truncate(button.object.email, length: 12)) %>
        <% end %>
      </div>
    <% end %>
  </div>




  <div class="form-group">
    <%= form.date_field :date, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= form.time_field :time, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.hidden_field :student_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit t(:__request_lesson), class: 'btn btn-block btn-custom' %>
  </div>
<% end %>
