<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <% @available_teachers.each do |teacher| %>
      <%= form.radio_button :teacher_id, teacher.id %>
      <%= label :teacher_id, "Teacher name : #{teacher.email}", value: teacher.id %>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.date_field :date %>
  </div>
  <div class="form-group">
    <%= form.time_field :time %>
  </div>
  <div class="form-group">
    <%= form.hidden_field :student_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
