<h2>Not payed lesson</h2>
<table>
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @not_payed_lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.date %></td>
        <td><%= lesson.time %></td>
        <td><%= lesson.teacher.email %></td>
        <td><%= link_to t(:__show), lesson %></td>
        <td><%= link_to t(:__edit), edit_lesson_path(lesson) %></td>
        <% if lesson.confirmed %>
          <td><%= link_to t(:__pay_lesson), pay_lesson_path(lesson), method: :post %></td>
        <% else %>
          <td>Waiting for confirmation from teacher...</td>
        <% end %>
        <td><%= link_to t(:__cancel), lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
