<section class="content-block container-fluid bot-space">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <h4 class="separate-green">
        <span class="fa-stack color-green">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
        Plan your lessons :
      </h4>
    </div>
    <div class="col-xs-12 col-md-6 offset-md-3">
        <%= link_to 'Find a teacher', postits_path, class: 'btn btn-block btn-custom' %>
        <%= link_to 'New lesson request', new_lesson_path, class: 'btn btn-block btn-custom' %>
    </div>
  </div>
</section>

  <section class="content-block container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4 class="separate-green">
          <span class="fa-stack color-green">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x"></i>
          </span>
          Non-payed
        </h4>
      </div>
    </div>
    <div class="row">
      <%= render 'student_lessons', collection: @not_payed_lessons %>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4 class="separate-green">
          <span class="fa-stack color-green">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x"></i>
          </span>
          Payed
        </h4>
      </div>
    </div>
    <div class="row">
      <% @payed_lessons.each do |lesson| %>
        <div class="col-xs-12 col-md-6 col-lg-3">
         <div class="intro-quarter text-center">
           <span class="fa-stack fa-2x color-green">
             <i class="fa fa-square-o fa-stack-2x"></i>
             <i class="fa fa-home fa-stack-1x"></i>
           </span>
           <div class="separate-green"></div>
           <h5><%= lesson.date %></h5>
           <p><%= link_to lesson.teacher.email, '#' %></p>
           <%= link_to 'Contact teacher', '#', class: 'btn btn-block btn-custom' %>
           <p class="separate-green">Gambaru, lesson is coming</p>
         </div>
       </div>
      <% end %>
    </div>
</section>
