<section class="content-block container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <h3 class="separate-red">
        <span class="fa-stack fa-1x color-red">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-home fa-stack-1x"></i>
        </span>
        Se connecter
      </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: 'Entrez votre email',
                             class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Entrez votre mot de passe',
                                class:'form-control' %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-check text-center">
            <%= f.check_box :remember_me, checked: true, class: 'form-check-input' %>
            <%= f.label :remember_me, 'Se souvenir de moi', class:'form-check-label' %>
          </div>
        <% end %>
        <%= f.submit "Se connecter !", class:'btn btn-custom btn-block' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
