<section class="content-block container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <h4 class="separate-red">
        <span class="fa-stack color-red">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
        <%= t('.payment_confirmation', amount: @amount) %>
      </h4>
      <p class="text-center"><%= link_to t(:__payment_cancel), root_path %> | <%= link_to t(:__payments_history), '#' %></p>
      <p class="text-left"><%= t('.payment_confirmation_explanation') %></p>
    </div>
  </div>
  <br>
  <!-- STRIPE PAYMENT -->
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3 text-center">
      <%= form_tag payments_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </article>
        <%= hidden_field_tag :amount, @amount %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="<%= t(:app_name) %>"
                data-label="<%= t('.stripe_button_label', amount: @amount) %>"
                data-amount="<%= @amount %>"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"></script>
      <% end %>
    </div>
  </div>
  <!-- PAYPAL PAYMENT -->
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3 text-center">
      <script src="https://www.paypalobjects.com/api/checkout.js"></script>
      <div id="paypal-button"></div>
 <script>
   paypal.Button.render({
     env: 'sandbox', // Or 'production',

     commit: true, // Show a 'Pay Now' button

     style: {
       color: 'gold',
       size: 'small'
     },

     payment: function(data, actions) {
       /*
        * Set up the payment here
        */
     },

     onAuthorize: function(data, actions) {
       /*
        * Execute the payment here
        */
     },

     onCancel: function(data, actions) {
       /*
        * Buyer cancelled the payment
        */
     },

     onError: function(err) {
       /*
        * An error occurred during the transaction
        */
     }
   }, '#paypal-button');
 </script>

    </div>
  </div>
</section>
