<section class="content-block container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <h4 class="separate-red">
        <span class="fa-stack color-red">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
        Payment confirmation : <%= @amount %> Yen.
      </h4>
      <p class="text-center"><%= link_to 'Cancel my payment', root_path %> | <%= link_to 'Payments history', '#' %></p>
      <p class="text-center">Click on button below to pay <%= @amount %> by credit card. Money will be available
         right away on your account and can be use to book lesson.</h6>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3 text-center">
      <%= form_tag payments_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </article>
        <%= hidden_field_tag :amount, @amount %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="French lesson"
                data-panel-label="Pay by credit card"
                data-label="Pay <%= @amount %> Yen by credit card."
                data-amount="<%= @amount %>"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="en"></script>
      <% end %>
    </div>
  </div>
</section>
