<!DOCTYPE html>
<html>
  <head>
    <title>Bitognio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light text-center">
      <a href="<%= root_path %>" class="navbar-brand">
        <span class="fa-stack fa-2x color-darkgrey">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Infos', root_path, class: 'nav-link separate-green' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', root_path(anchor: 'contact'), class: 'nav-link separate-yellow' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Mon compte', root_path(anchor: 'compte'), class: 'nav-link separate-red' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'nav-link separate-blue' %>
          </li>
        </ul>
      </div>
    </nav>

    <section class="flash-section container-fluid">
      <% if notice %>
        <div class="row">
          <div class="col-xs-10 col-md-6 offset-md-3 flash-notice">
            <p><%= notice %></p>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="row">
          <div class="col-xs-10 col-md-6 offset-md-3 flash-alert">
            <p><%= alert %></p>
          </div>
        </div>
      <% end %>
    </section>

    <section class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-6">
          <div class="top-hat">
            <h1 class="root-header separate-red">Bitognio</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="main-block container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-6">
          <h1 class="top-hat">Main title h1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-red">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-red">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-green">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-child fa-stack-1x"></i>
            </span>
            <h3 class="separate-green">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2 class="separate-blue">Truc de ouf que c'est tres cool !</h2>
          <h6>Oh mais c'est du texte ? main non c'est un petit</h6>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-block btn-custom">Connect</button>
            </div>
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-block btn-custom">Connect</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
        </div>
      </div>
    </section>

    <section class="content-block container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <h1 class="separate-red">Babar en string</h1>
          <p>pdjsnd qs dnqs dqs dqsl kdqsl d, sqld sqdsqdlq sdq dqsd qsd qs qsd dsq dlqsl d,kd ,qsld
            odqs  dakd qs:d; azm d!a;zdaz d;qs ; az2dad
             az ;azda, dazld,az d,azd,lazkjela zehazi eha ea e azoe azoe aze o</p>
          <h6>kjndsqkdjnsq   qsksd sqkdqs dkq sdk</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-red">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-red">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-red">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-red">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-red">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-red">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-red">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-red">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </section>
    <%= yield %>
  </body>
</html>
