<!DOCTYPE html>
<html>
  <head>
    <title>Bitognio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light text-center">
      <a href="<%= root_path %>" class="navbar-brand">
        <span class="fa-stack fa-2x color-darkgrey">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to 'Lessons', root_path, class: 'nav-link separate-green' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Payments', payments_path, class: 'nav-link separate-yellow' %>
            </li>
            <li class="nav-item">
              <%= link_to 'My account', current_user, class: 'nav-link separate-red' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link separate-blue' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Informations', root_path, class: 'nav-link separate-green' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', root_path(anchor: 'contact'), class: 'nav-link separate-yellow' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log in', new_user_session_path, class: 'nav-link separate-red' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Signup', new_user_registration_path, class: 'nav-link separate-blue' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <section class="flash-section container-fluid">
      <% if notice %>
        <div class="row">
          <div class="col-xs-10 col-md-6 offset-md-3 flash-notice">
            <p><%= notice %></p>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="row">
          <div class="col-xs-10 col-md-6 offset-md-3 flash-alert">
            <p><%= alert %></p>
          </div>
        </div>
      <% end %>
    </section>

    <%= yield %>

  </body>
</html>
