<!DOCTYPE html>
<html>
  <head>
    <title>Bitognio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="#">Bitognio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Infos', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', root_path(anchor: 'contact'), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Mon compte', root_path(anchor: 'compte'), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <section class="flash-section container-fluid">
      <% if notice %>
        <div class="row">
          <div class="col-xs-10 col-md-6 offset-md-3 flash-notice">
            <p><%= notice %></p>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="row">
          <div class="col-xs-10 col-md-6 offset-md-3 flash-alert">
            <p><%= alert %></p>
          </div>
        </div>
      <% end %>
    </section>

    <section class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-6">
          <div class="top-hat">
            <h1 class="root-header">Bitognio</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="main-block container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-6">
          <h1>Main title h1</h1>
          <h2>Second title h2</h2>
          <h3>Another longer title h3</h3>
          <h4>Le petit titre pas trop gros </h4>
          <h5>Il est mignon c'est tout jolie le kaiwai h5 </h5>
          <h6>Oh mais c'est du texte ? main non c'est un petit titre tout petit que c'est le h6! </h6>
          <p>Le Japon possède une culture gastronomique extraordinaire. Les Japonais sont gourmands et les repas sont un moment important
          dans la culture japonaise. Influencé par la Chine et la Corée, mais aussi par la cuisine occidentale, le Japon a réussi un savant
          mélange entre tradition et modernité.</p>
          <p class="mini-text">Le Japon possède une culture gastronomique extraordinaire. Les Japonais sont gourmands et les repas sont un moment important
          dans la culture japonaise. Influencé par la Chine et la Corée, mais aussi par la cuisine occidentale, le Japon a réussi un savant
          mélange entre tradition et modernité.</p>
          <button class="btn btn-sm btn-custom">Connect</button>
        </div>
      </div>
    </section>

    <section class="content-block container-fluid">

    </section>
    <%= yield %>
  </body>
</html>
